In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel("KTM New Data.xlsx")

In [2]:
df=df.drop(columns=['ID'])

In [3]:
df.head()

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [4]:
onehot=pd.get_dummies(df)
onehot

,Age,Gender_Female,Gender_Male,Occupation_Professional,Occupation_Self Employed,Occupation_Student,Occupation_Unemployed,Phone Type_Average,Phone Type_High End,Phone Type_Low End,...,Current Bike_180 to 220,Current Bike_220 and Above,Current Bike_Below 125,Current Bike_No Bike,Relationship_Committed,Relationship_Complicated,Relationship_Married,Relationship_Single,Response_Not purchased,Response_Purchased
0,53,0,1,1,0,0,0,1,0,0,...,1,0,0,0,0,1,0,0,1,0
1,27,1,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,1
2,39,1,0,0,0,0,1,1,0,0,...,1,0,0,0,0,0,1,0,1,0
3,20,1,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,1,0,1,0
4,29,0,1,0,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,19,0,1,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1514,18,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,0,1
1515,24,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,1,0,0,1
1516,23,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
1517,18,0,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,1,0,1

In [5]:
df=onehot.drop(columns=['Gender_Female','Response_Not purchased'])
df.head()

,Age,Gender_Male,Occupation_Professional,Occupation_Self Employed,Occupation_Student,Occupation_Unemployed,Phone Type_Average,Phone Type_High End,Phone Type_Low End,Current Bike_125 to 180,Current Bike_180 to 220,Current Bike_220 and Above,Current Bike_Below 125,Current Bike_No Bike,Relationship_Committed,Relationship_Complicated,Relationship_Married,Relationship_Single,Response_Purchased
0,53,1,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
1,27,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1
2,39,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0
3,20,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0
4,29,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1

In [6]:
x=df.drop(columns=['Response_Purchased'])
y=df[['Response_Purchased']]

In [7]:
#Scaling my input data since age is large
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
s_data=ss.fit_transform(x)
x=pd.DataFrame(data=s_data,columns=x.columns)
x

,Age,Gender_Male,Occupation_Professional,Occupation_Self Employed,Occupation_Student,Occupation_Unemployed,Phone Type_Average,Phone Type_High End,Phone Type_Low End,Current Bike_125 to 180,Current Bike_180 to 220,Current Bike_220 and Above,Current Bike_Below 125,Current Bike_No Bike,Relationship_Committed,Relationship_Complicated,Relationship_Married,Relationship_Single
0,1.529236,1.078143,2.184459,-0.491131,-0.908030,-0.469316,1.864906,-1.107161,-0.540291,-0.530106,1.616875,-0.401794,-0.496292,-0.448274,-0.528067,1.718466,-0.509658,-0.690401
1,-0.432409,-0.927520,-0.457779,2.036115,-0.908030,-0.469316,-0.536220,-1.107161,1.850853,-0.530106,-0.618477,-0.401794,-0.496292,2.230780,-0.528067,-0.581914,-0.509658,1.448433
2,0.472966,-0.927520,-0.457779,-0.491131,-0.908030,2.130762,1.864906,-1.107161,-0.540291,-0.530106,1.616875,-0.401794,-0.496292,-0.448274,-0.528067,-0.581914,1.962101,-0.690401
3,-0.960544,-0.927520,-0.457779,-0.491131,-0.908030,2.130762,-0.536220,0.903211,-0.540291,-0.530106,-0.618477,-0.401794,-0.496292,2.230780,-0.528067,-0.581914,1.962101,-0.690401
4,-0.281513,1.078143,-0.457779,-0.491131,1.101285,-0.469316,1.864906,-1.107161,-0.540291,-0.530106,1.616875,-0.401794,-0.496292,-0.448274,-0.528067,1.718466,-0.509658,-0.690401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,-1.035992,1.078143,-0.457779,-0.491131,1.101285,-0.469316,-0.536220,0.903211,-0.540291,1.886414,-0.618477,-0.401794,-0.496292,-0.448274,1.893701,-0.581914,-0.509658,-0.690401
1514,-1.111439,1.078143,-0.457779,-0.491131,1.101285,-0.469316,-0.536220,0.903211,-0.540291,-0.530106,-0.618477,-0.401794,2.014944,-0.448274,-0.528067,-0.581914,1.962101,-0.690401
1515,-0.658752,-0.927520,-0.457779,-0.491131,1.101285,-0.469316,-0.536220,0.903211,-0.540291,-0.530106,1.616875,-0.401794,-0.496292,-0.448274,-0.528067,-0.581914,1.962101,-0.690401
1516,-0.734200,-0.927520,-0.457779,-0.491131,1.101285,-0.469316,-0.536220,0.903211,-0.540291,1.886414,-0.618477,-0.401794,-0.496292,-0.448274,-0.528067,-0.581914,-0.509658,1.448433
1517,-1.111439,1.078143,-0.457779,-0.491131,1.101285,-0.469316,-0.536220,0.903211,-0.540291,-0.530106,1.616875,-0.401794,-0.496292,-0.448274,-0.528067,-0.581914,-0.509658,1.448433

In [38]:
#splitting my data into train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [39]:
#Implementing SVM(Support Vector Machine) Algorithm
from sklearn.svm import SVC
svm=SVC()
svm.fit(x_train,y_train)
svm_pred=svm.predict(x_test)
# checking the accuracy of SVM model
from sklearn.metrics import accuracy_score
asvm=accuracy_score(y_test,svm_pred)
asvm

C:\Users\colourfulm\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7741228070175439

In [40]:
# Implementing Logistic Regression 
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
# checking the accuracy of Logistic Reg model
alr=accuracy_score(y_test,lr_pred)
alr

C:\Users\colourfulm\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7763157894736842

In [41]:
# Implementing Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)
dt_pred=dt.predict(x_test)
# checking the accuracy of Decision Tree model
adt=accuracy_score(y_test,dt_pred)
adt

0.7631578947368421

In [42]:
# Implementing KNN 
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
knn_pred=knn.predict(x_test)
# checking the accuracy of KNN
aknn=accuracy_score(y_test,knn_pred)
aknn

C:\Users\colourfulm\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

0.7697368421052632